SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

JUPITER_BASE_URL=https://quote-api.jup.ag

CRON_SECRET=CHANGE_ME

LIVE_TRADING=false

WALLET_PRIVATE_KEY=

STARTING_CAPITAL_USD=20

MAX_POSITION_PERCENT=70

RISK_PER_TRADE_PERCENT=1

STOP_LOSS_PERCENT=8

TRAILING_STOP_PERCENT=12

TAKE_PROFIT_1_PERCENT=30

TAKE_PROFIT_1_SELL_PERCENT=20

TAKE_PROFIT_2_PERCENT=70

TAKE_PROFIT_2_SELL_PERCENT=20

REINVEST_PROFIT_PERCENT=70

RESERVE_PROFIT_PERCENT=20

LOCKED_PROFIT_PERCENT=10

MIN_LIQUIDITY_USD=250000

MIN_VOLUME_24H_USD=100000

MIN_BUY_RATIO=55

MAX_SLIPPAGE_BPS=50

MAX_OPEN_POSITIONS=1
